<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h2>Jaive's Blog</h2>
      <ul><table style="width:100%", border="1">
            {{#each data}}
            <tr>
              <td><a href="data/{{id}}">{{title}}</a></td>
              <td>{{content}}</td>
            </tr>
          {{/each}}
            </ul>
      </table>
g
